<!--D2Loader Config-->
<D2loaderconfig>
	<!--Default Gamepath. The below is the default install path, change this if you've installed somewhere different.
		Note, if using multiple game installs (to keep client specific config persistent for each account), ensure these are referenced in the CustomGamePath field in accounts.csv.
		Otherwise you can use a single install instead by linking the path below.-->
	<GamePath>C:\Program Files (x86)\Battle.net\Games\Diablo II Resurrected</GamePath>

	<!--default region, 1 for NA, 2 for EU, 3 for Asia.-->
	<DefaultRegion>1</DefaultRegion>

	<!--Whether script should only prompt you once for region-->
	<AskForRegionOnceOnly>False</AskForRegionOnceOnly>

	<!--Script will recreate desktop shortcut each time it's run (updates the shortcut if you move the script location). If you don't want this, disable here by setting to $false.-->
	<CreateDesktopShortcut>True</CreateDesktopShortcut>

	<!--Whether script should convert plain text passwords in accounts.csv to a secure string, recommend leaving this set to True.-->
	<ConvertPlainTextPasswords>True</ConvertPlainTextPasswords>
	
	<!--Make sure game always starts in Windowed mode rather than full screen. Note that this seems to cause issues remembering your last window size. Recommend leaving false-->
	<ForceWindowedMode>False</ForceWindowedMode>
</D2loaderconfig>