<!--D2Loader Config-->
<D2loaderconfig>
	<!--Default Gamepath. The below is the default install path, change this if you've installed somewhere different.-->
	<GamePath>C:\Program Files (x86)\Diablo II Resurrected</GamePath>

	<!--default region, 1 for NA, 2 for EU, 3 for Asia.-->
	<DefaultRegion>1</DefaultRegion>
	
	<!--Disable the functionality of being able to open all accounts at once. This is for any crazy people who have a lot of accounts and want to prevent accidentally opening all at once.-->
	<DisableOpenAllAccountsOption>False</DisableOpenAllAccountsOption>

	<!--Choose whether or not TZ checker should look online for Next TZ updates.
	Choose False if Next TZ data is unreliable and you want faster updates for current TZ.-->
	<CheckForNextTZ>True</CheckForNextTZ>
	
	<!--Enable the ability to open a group of accounts. EG if you have 5 accounts but only regularly use 3 of them that you want to open up all at once.
	Requires accounts.csv to be updated. See readme for more details.-->
	<EnableBatchFeature>False</EnableBatchFeature>

	<!--Whether script should only prompt you once for region-->
	<AskForRegionOnceOnly>False</AskForRegionOnceOnly>

	<!--Script will recreate desktop shortcut each time it's run (updates the shortcut if you move the script location). If you don't want this, disable here by setting to false.-->
	<CreateDesktopShortcut>True</CreateDesktopShortcut>
	
	<!--If you have a custom .ico you want to use, put the path of it here.-->
	<ShortcutCustomIconPath></ShortcutCustomIconPath>
	
	<!--Whether script should convert plain text passwords in accounts.csv to a secure string, recommend leaving this set to True.-->
	<ConvertPlainTextPasswords>True</ConvertPlainTextPasswords>
	
	<!--Make sure game always starts in Windowed mode rather than full screen. Note that this seems to cause issues remembering your last window size. Recommend leaving false-->
	<ForceWindowedMode>False</ForceWindowedMode>
	
	<!--This enables the script to match a config file (settings.json) to the account you are launching. 
	Eg if using account 1, this is achieved by overwriting settings.json with settings1.json.
	Due to this, if enabled, settings1.json,settins2.json etc will not be updated if you update your game settings.
	As such	you will need to manually update your settings.json config file, See readme for more details. -->
	<SettingSwitcherEnabled>False</SettingSwitcherEnabled>

	<!--Can be used standalone or in conjunction with the standard setting switcher above.
	This enables the menu option to enter 's' and manually pick between settings config files. Use this if you want to select Awesome or Poo graphics settings for an account.
	Any setting file with a number after it will not be an available option (eg settings1.json will not be an option).
	To make settings option, you can load from, call the file settings.<name>.json eg(settings.Awesome Graphics.json) which will appear as "Awesome Graphics" in the menu.-->
	<ManualSettingSwitcherEnabled>False</ManualSettingSwitcherEnabled>
	
	<!--This allows you to roughly track how long you've used each account while using this script. Choose False if you want to disable this.-->
	<TrackAccountUseTime>True</TrackAccountUseTime>

	<!--Options are d2emu.com, D2runewizard.com and diablo2.io.
	Default and recommended option is d2emu.com as this pulls live data from the game as opposed to crowdsourced data.-->
	<DCloneTrackerSource>d2emu.com</DCloneTrackerSource>

	<!--Allow you to have the script audibly warn you of upcoming DClone walks.
	Specify as many of the following options as you like: SCL-NA, SCL-EU, SCL-KR, SC-NA, SC-EU, SC-KR, HCL-NA, HCL-EU, HCL-KR, HC-NA, HC-EU, HC-KR
	EG if you want to be notified for all Softcore ladder walks on all regions, enter <DCloneAlarmList>SCL-NA, SCL-EU, SCL-KR</DCloneAlarmList>
	If left blank this feature is disabled. Default is blank as this may be annoying for some people-->
	<DCloneAlarmList></DCloneAlarmList>

	<!--Specify what Statuses you want to be alarmed on.
	Enter "All" to be alarmed of all status changes
	Enter "Close" to be only alarmed when status is 4/6, 5/6 or has just walked.
	Enter "Imminent" to be only alarmed when status is 5/6 or has just walked.
	Recommend setting to "All"-->
	<DCloneAlarmLevel>All</DCloneAlarmLevel>

	<!--Specify what voice you want. Choose 'Paladin' for David (Man) or 'Amazon' for Zira (Woman).-->
	<DCloneAlarmVoice>Paladin</DCloneAlarmVoice>
</D2loaderconfig>
